*{
    padding: 0px 0px;
    margin: 0px 0px;
    color: white;
    font-family: "Roboto", sans-serif;
}

.full-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: fit-content;
    background: #25252b;
}

.flex-mobile{
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
}

.margin-top-mobile{
    margin-top: 1rem;   
}

.all-user-wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border: 2px solid red; */
    justify-content: center;
}

::-webkit-scrollbar {
    width: 10px;
  }

.all-cards-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid red; */
    padding-left: 2rem;
    height: 20rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.selected-user-wrapper{
    display: flex;
    flex: 1;
    /* border: 2px solid blue; */
    height:100%;
    align-items: center;
    justify-content: center;
}